<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.qianfeng.xiaomi.mapper.GoodsMapper">

    <select id="findGoodsByTypeId" parameterType="int" resultType="com.qianfeng.xiaomi.goods.pojo.Goods">
        select * from tb_goods where typeid=#{typeId}
    </select>
    <select id="findGoodsById" parameterType="int" resultType="com.qianfeng.xiaomi.goods.pojo.Goods">
        select * from tb_goods where id=#{id}
    </select>
    <select id="searchGoods" parameterType="string" resultType="com.qianfeng.xiaomi.goods.pojo.Goods">
        select * from tb_goods where name like #{search}
    </select>

    <select id="findByPageWhere" resultType="com.qianfeng.xiaomi.goods.pojo.Goods">
      select g.*,t.name as typeName from tb_goods as g inner join tb_goods_type as t on g.typeid=t.id
      <where>
          <if test="typeId != null">
             and g.typeid = #{typeId}
          </if>
          <if test="name != null">
              and g.name like '%'#{name}'%'
          </if>
          <if test="pubdate != null">
              and g.pubdate = #{pubdate}
          </if>
      </where>
    </select>

    <insert id="addGoods" parameterType="com.qianfeng.xiaomi.mapper.GoodsMapper">
        insert into tb_goods(name,pubdate,picture,price,star,intro,typeid) values(#{name},#{pubdate},#{picture},#{price},#{star},#{intro},#{typeid})
    </insert>
</mapper>